<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layouts/layout :: setContent(~{this::content})}">

    <th:block th:fragment="content">
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5" style="min-height: 31vh">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-5 justify-content-center">
                    <div th:each="BookVO : ${result.list}" class="col mb-5">
                        <a th:href="@{/book/detailBook(isbn=${BookVO.isbn})}">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img" style="height: 65%" th:src="${BookVO.imageSrc}" alt="..."/>
                                <!-- Product details-->
                                <div class="card-title text-center p-1 m-sm-auto m-sm-0">
                                    <h7 class="fst-normal" th:text="${BookVO.title}"></h7>
                                </div>
                                <hr>
                                <div class="fst-normal text-center">
                                    <h7 th:text="${'저자: '+BookVO.author}"></h7>
                                    <br>
                                    <h7 th:text="${'출판사: '+BookVO.publisher}"></h7>
                                    <br>
                                    <h7 th:text="${'가격: '+BookVO.price+ '원'}"></h7>
                                    <br>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="pagination">
                                    <li th:if="${result.prev}" class="page-item"><a class="page-link"
                                                                                    th:href="@{searchBook(keyword=${result.keyword},page=${result.start-result.size})}">Prev</a>
                                    </li>
                                    <th:block th:each="num: ${#numbers.sequence(result.start,result.end)}">
                                        <li class="page-item"><a class="page-link" th:text="${num}"
                                                                 th:href="@{searchBook(keyword= ${result.keyword} , page= ${num} )}"></a>
                                        </li>
                                    </th:block>
                                    <li th:if="${result.next}" class="page-item"><a class="page-link"
                                                                                    th:href="@{searchBook(keyword=${result.keyword},page=${result.end+1})}">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>